.faqBg {
  background-color: #3e3c5f;
}

.title {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.titleMobile {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.myAccordion {
  font-size: 20px;
  font-weight: 500;
  background-color: #3e3c5f;
}

.accordionBody {
  background-color: #3e3c5f;
}

.accordionContent {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
}

.accordionTitle {
  font-size: 16px;
  font-weight: 600;
}
