.trackBg {
  background-color: #3e3c5f;
}

.vid {
  color: #ff6f2d;
}

.content {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
}

.title1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: ffffff;
}
