.start{
    background-color: #3e3c5f;
  }
  

.img{
    width: 520px;
  }
    

.title1{
  color: #fff;
}

  .content{
    font-size: 13px;
    color: rgba(247, 240, 240, 0.349);
}



  .contentWrapper {
    padding-left: 15px; 
  }
  