.start {
  background-color: #3e3c5f;
}

.vid {
  color: rgb(250, 111, 61);
}
.second {
  font-size: 20px;
}
.img {
  width: 520px;
}

.title1 {
  color: #fff;
  font-weight: 600;
}

.content {
  font-size: 13px;
  color: rgba(247, 240, 240, 0.349);
}

.contentWrapper {
  padding-left: 15px;
}
