.start {
  background-color: #3e3c5f;
}

.vid {
  color: #ff6f2d;
}
.second {
  font-size: 20px;
}
.img {
  width: 520px;
}

.title1 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.startedTitle {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.content {
  font-size: 13px;
  color: #ffffff;
}

.contentWrapper {
  padding-left: 15px;
}

/* @media (max-width: 375px) {
  .title,
  .second {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
} */

@media (max-width: 320px) {
  .title,
  .second {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
}
