.benefitsBg {
  background-color: #3e3c5f;
}

.benefitsTitle {
  font-size: 30px;
  font-weight: 700;
}
.pal {
  color: #ff6f2d;
}

.img2 {
  color: #d7ebb6;
}

.content {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
}

.title1 {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.squareBackground {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(196, 196, 196, 0.349);
  width: 50px;
  height: 50px;
}

.contentWrapper {
  padding-left: 15px;
}
