.reviewBg {
  background-image: url("/ellipsebg.png");
  background-color: #3e3c5f;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: rgb(250, 111, 61);
}

.person {
  margin-top: 80px;
}

.person,
.personTitle {
  color: #fff;
}

.paragraph {
  font-size: 15px;
}
.personTitle {
  font-size: 18px;
}
.reviewCol {
  position: relative;
  background: linear-gradient(to right, #63609e, #595694);
  border: none;
  border-radius: 20px;
  box-shadow: none;
}

.img {
  display: block;
  margin: 0 auto;
}

.reviewContent {
  text-align: left;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .img {
    margin-top: 0;
  }
}
