.title1{
  color: #d7ebb6
}



.hero {
  background-image: url('/LandingPage/Assets/Images/herobg.png');
   background-color: #615e9b;
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.download{
  font-size: 10px;
  color: #615e9b;
}

.download:hover{
  color: #d7ebb6;
  transition: all 0.5s ease-out;
}


.appleApp{
  font-size: 15px;
}


.button{
  color: green;
}
.button:hover{
  background-color: #615e9b;
  transition: all 0.5s ease-out;
}


.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageAndText {
  display: flex;
  align-items: flex-start;
}

.imageContainer {
  margin-right: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textContainer:hover{
  color: #d7ebb6;
}

.download {
  font-weight: bold; 
}



.customShape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.custom-shape-divider-top-1687544942 .shapeFill {
  fill: #FFFFFF;
}