.title1 {
  color: #d7ebb6;
}

.title2 {
  font-size: 50px;
  font-weight: 700;
}

.desktopSub {
  font-size: 20px;
  font-weight: 700;
}

.desktopSub1 {
  font-size: 16px;
  font-weight: 400;
}
.title2Mobile {
  font-size: 28;
  font-weight: 700;
}

.hero {
  background-image: url("/heroBg.png");
  background-color: rgba(97, 94, 155, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.secondary {
  font-size: 12px;
  font-weight: 400;
}
.noFuss {
  font-size: 16px;
  font-weight: 400;
}
.noFuss1 {
  font-size: 20;
  font-weight: 700;
}
.download {
  font-size: 10px;
  color: #fff;
}

.download:hover {
  color: #d7ebb6;
  transition: all 0.5s ease-out;
}

.appleApp {
  font-size: 1rem;
  font-weight: 600;
}

.button {
  border: 1px solid white;
  color: green;
}
.button:hover {
  background-color: #615e9b;
  transition: all 0.5s ease-out;
}

.buttonContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trial {
  font-size: 8px;
  font-weight: 600;
}

.magic {
  font-size: 14px;
  font-weight: 600;
}

.imageAndText {
  display: flex;
  align-items: flex-start;
}

.imageContainer {
  margin-right: 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textContainer:hover {
  color: #d7ebb6;
}

/* For mobile screen sizes */
@media (max-width: 767px) {
  .hero {
    background-color: #474583;
    background-image: none; /* Optionally, you can remove the background image for mobile screens if you don't want it. */
  }
}
