.navbar {
  background-color: #7977ac;
}

.archor {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.archor:hover {
  color: #d7ebb6;
  background-color: #3e3c5f;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.downloadButton {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #009633;
}

.downloadButton:hover {
  background-color: #3e3c5f;
  color: #d7ebb6;
  transition: all 0.5s ease-out;
}

.footerBg {
  background-color: #373650;
}

.primaryLink {
  font-size: 20px;
  font-weight: 600;
}

.secondaryLink {
  font-size: 16px;
  font-weight: 500;
}
.list {
  text-decoration: none;
  color: #fff;
}

.list:hover {
  color: #d7ebb6;
}

.socIcons:hover {
  opacity: 0.5;
}

.navbarCollapse {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #7977ac;
}

.dropLink {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .navbarCollapse {
    position: unset;
    top: unset;
    left: unset;
    z-index: unset;
    width: unset;
    background-color: unset;
  }
}

/* Apply specific styles to the dropdown on small screens */
@media (max-width: 767px) {
  .navbarCollapse {
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #7977ac;
    /* Add the desired height */
    height: 450px; /* Adjust the height value as needed */
  }
}

/* Reset the styles on larger screens */
@media (min-width: 992px) {
  .navbarCollapse {
    position: unset;
    top: unset;
    left: unset;
    z-index: unset;
    width: unset;
    background-color: unset;
    /* Reset the height to its default value */
    height: auto;
  }
}

@media (max-width: 767px) {
  .fullWidthButton {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .text-start {
    text-align: center;
  }
}

/* Center the logo on mobile screens */
/*@media (max-width: 767px) {
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important; /* Important to override existing styles */
/* margin: 0 auto !important; /* Center horizontally */
/* }
} */
